[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
pydantic = "*"
flask-pydantic = "*"
marshmallow = "*"
flask-sqlalchemy = "*"
flask-jwt-extended = "*"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.9"
